.app {
  min-height: 100vh;
  display: flex;
}

@media (max-width: 768px) {
  .app {
    min-height: unset;
    min-height: 100vh;
  }
}

button {
  cursor: pointer;
}

.text-red {
  color: #f7542e;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
  }
}
